<!DOCTYPE html>
<html>
  <head>
    <title> Weather Alerts - Add Notification Page</title>
  </head>
  <body>
    <%- include('partials/navbar') -%>
    <% if (error) { %>
      <h2><%= error %></h2>
    <% } %>
      <h1>Create your notification here </h1>
      <br>
      <form action="/verify" method="post" autocomplete="off">
        Phone number:<br>
        <input type="tel" name="phone" placeholder="i.e: 06........">
        <br>
        Notification Time:<br>
        <input type="time" name="time">
        City:<br>
        <input type="text" name="city" required >
        <br><br>
        <input type="submit" value="Submit">
      </form>
  </body>
</html>