<!DOCTYPE html>
<html>
  <head>
    <title> Weather Alerts - Add Notification Page</title>
  </head>
  <body>
    <%- include('partials/navbar') -%>
      <h1>Create your notification here </h1>
      <br>
      <form action="/notifications" method="post" autocomplete="off">
        Phone number:<br>
        <input type="tel" name="phone" placeholder="i.e: 06........">
        <br>
        Notification Time:<br>
        <input type="time" name="time">
        <br><br>
        <input type="checkbox" name="everyday" value="true" checked>Everyday
        <input type="checkbox" name="monday" value="Monday">Monday
        <input type="checkbox" name="tuesday" value="Tuesday">Tuesday
        <input type="checkbox" name="wednesday" value="Wednesday">Wednesday
        <input type="checkbox" name="thursday" value="thursday">Thursday
        <input type="checkbox" name="friday" value="friday">Friday
        <input type="checkbox" name="saturday" value="saturday">Saturday
        <input type="checkbox" name="sunday" value="sunday">Sunday
        <br><br>
        <input type="submit" value="Submit">
      </form>
  </body>
</html>
