<!DOCTYPE html>
<html>
  <head>
    <title> Weather Alerts - Add Notification Page</title>
  </head>
  <body>
    <%- include('partials/navbar') -%>
      <h1>Create your notification here </h1>
      <br>
      <form action="/notifications" method="post" autocomplete="off">
        Phone number:<br>
        <input type="tel" name="phone" placeholder="i.e: 06........">
        <br>
        Notification Time:<br>
        <input type="time" name="time">
        <br><br>
        <span>Everyday</span>
        <input type="radio" name="everyday" value="true"> yes
        <input type="radio" name="everyday" value="false"> no
        <br>
        <span>Monday</span>
        <input type="radio" name="monday" value="true"> yes
        <input type="radio" name="monday" value="false"> no
        <br>
        <span>Tuesday</span>
        <input type="radio" name="tuesday" value="true"> yes
        <input type="radio" name="tuesday" value="false"> no
        <br>
        <span>Wednesday</span>
        <input type="radio" name="wednesday" value="true"> yes
        <input type="radio" name="wednesday" value="false"> no
        <br>
        <span>Thursday</span>
        <input type="radio" name="thursday" value="true"> yes
        <input type="radio" name="thursday" value="false"> no
        <br>
        <span>Friday</span>
        <input type="radio" name="friday" value="true"> yes
        <input type="radio" name="friday" value="false"> no
        <br>
        <span>Saturday</span>
        <input type="radio" name="saturday" value="true"> yes
        <input type="radio" name="saturday" value="false"> no
        <br>
        <span>Sunday</span>
        <input type="radio" name="sunday" value="true"> yes
        <input type="radio" name="sunday" value="false"> no
        <br><br>
        <input type="submit" value="Submit">
      </form>
  </body>
</html>