<!DOCTYPE html>
<html>
  <head>
    <title> Weather Alerts - Homepage</title>
  </head>
  <body>
    <%- include('partials/navbar') -%>
      <h1>Welcome to the Homepage :) </h1>
      <br>
      <form action="/login" method="post">
        Email:<br>
        <input type="text" name="email">
        <br>
        Password:<br>
        <input type="password" name="password">
        <br>
        <br><br>
        <input type="submit" value="Submit">
      </form>
  </body>
</html>
