<!DOCTYPE html>
<html>
  <head>
    <title> Weather Alerts - Profile Page</title>
  </head>
  <body>
    <%- include('partials/navbar') -%>
      
      <h1>Welcome to your profile </h1>
  </body>
</html>
