<!DOCTYPE html>
<html>
  <head>
    <title> Weather Alerts - Sign up Page</title>
  </head>
  <body>
      <%- include('partials/navbar') -%>
      <h1>Sign up here </h1>

      <form action="/signup" method="post">
        First name:<br>
        <input type="text" name="firstname" required>
        <br>
        Last name:<br>
        <input type="text" name="lastname" required>
        <br>
        City:<br>
        <input type="text" name="city" required>
        <br>
        Email:<br>
        <input type="text" name="email" required>
        <br>
        Password:<br>
        <input type="password" name="password" required>
        <br>
        Confirm password:<br>
        <input type="password" name="passwordConfirmation" required>
        <br>
        <br><br>
        <input type="submit" value="Submit">
      </form>
  </body>
</html>
