<!DOCTYPE html>
<html>
  <head>
    <title> Weather Alerts - Sign up Page</title>
  </head>
  <body>
      <%- include('partials/navbar') -%>
      <h1>Sign up here </h1>

      <form action="/signup" method="post" id="signup" autocomplete="off">
        First name:<br>
        <input type="text" name="firstname" required>
        <br>
        Last name:<br>
        <input type="text" name="lastname" required>
        <br>
        City:<br>
        <input type="text" name="city" id="city" required >
        <br>
        Email:<br>
        <input type="text" name="email" required>
        <br>
        Password:<br>
        <input type="password" name="password" required>
        <br>
        Confirm password:<br>
        <input type="password" name="passwordConfirmation" required>
        <br>
        <input id="pk" value= <%= id %> style= "display: none;">
        <br>
        <input id="long" name="longitude" style ="display: none;">
        <br>
        <input id="lat" name="latitude" style ="display: none;">
        <br><br>
        <input type="submit" value="Submit">
      </form>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type="text/javascript">
        navigator.geolocation.getCurrentPosition(success, error, options)

        var options = {
          enableHighAccuracy: true,
          timeout: 5000,
          maximumAge: 0
        };

        function success(pos) {
          var crd = pos.coords;
          long = pos.coords.longitude;
          lat = pos.coords.latitude;
          console.log(`Coordinate ${pos.coords}`)
          console.log(`More or less ${crd.accuracy} meters.`);
          console.log(`Longitude ${long}`)
          $('#long').val(long)
          $('#lat').val(lat)
        }

        function error(err) {
          console.warn(`ERROR(${err.code}): ${err.message}`);
        }
          $( "#signup" ).submit(function( event ) {
            let long;
            let lat;
        
            const town = $('#city').val();
            const pk = $('#pk').val()
        })
      </script>
  </body>
</html>