<div id="navigation-bar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/signup">Sign Up</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/add-notification">Create Notification</a></li>
    <li><a href="/notifications">View Notifications</a></li>
  </ul>
</div>
